<div class="container">
    <form>
        <div class="row">
            <div class="col-6">
                <input type="file" name="pic" accept="image/*">
            </div>
            <div class="col-6">
                <input type="text" name="org_name" placeholder="Enter organization name" >
            </div>
            <div class="col-6">
                <div class="dropdown">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        Select Account
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" >Admin</a>
                        <a class="dropdown-item" >Assosiate</a>
                        <a class="dropdown-item" >Link 3</a>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <input type="text" name="first_name" placeholder="Enter First Name" >
            </div>
            <div class="col-6">
                <input type="text" name="last_name" placeholder="Enter Last Name" >
            </div>
            <div class="col-6">
                <button type="submit">Sign Up</button>
            </div>
        </div>
    </form>
</div>